.header__btn {
  background-color: transparent;
  height: 7.7vh;
  width: 10vw;
  border: none;
  h2 {
    color: #fff;
  }
  margin-top: 1px;
}

.container__header {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(68, 60, 60);
  height: 8vh;
  div {
    display: flex;
    gap: 25px;
    position: absolute;
    margin-right: 50px;
    button:hover {
      cursor: pointer;
    }
    button:focus {
      background-color: black;
    }
  }
}

body {
  margin: 0;
}
